body
{
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

@import url('https://fonts.google.com/specimen/Audiowide?categoryFilters=Feeling:%2FExpressive%2FFuturistic');
button
{
    background-color: rgba(252, 252, 252,);
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Audiowide;
    font-size: larger;
    border-radius: 15px;
}
.container {
  display: flex;
  flex-direction: column;         
  gap: 15px;                      
  align-items: center; 
  color: black;     
  height: 100vh;                               
  justify-content: center;                
  background-color: rgba(255, 255, 255,);
  margin: 0;
  color: black;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("enem.png") center/cover no-repeat;
  opacity: 1;
  z-index: -1; 
  filter: brightness(0.75);
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 15px;
  font-size: 1px;
  transition: background 0.3s;
  
}
h1
{
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128, 0.7);
  border-radius: 15px;
  font-weight: bold;
}
 