body
{
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@import url('https://fonts.google.com/specimen/Audiowide?categoryFilters=Feeling:%2FExpressive%2FFuturistic');
button
{
    background-color: rgba(252, 252, 252,);
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Audiowide;
    font-size: larger;
    border-radius: 12px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  
  padding-top: 200px; 
  height: 50vh;
  
  background-color: rgba(255, 255, 255,);
  color: black;
}
padding: 12px 24px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  text-decoration: none;
  bo.botoes
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 400px;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1; 
  background-color: #555570;
  filter: brightness(0.85);
}
fieldset {
  background-color: #195952;
  border: 2px solid rgba(255, 255, 255, 0.10);
  border-radius: 20px;
  text-align: center; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1px;
  transition: background 0.3s;
  
}
h1
{  
  width: 280px;
  height: 100px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75); 
}

.botoes a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10px;
  display: block;
}

.botoes button 
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover
{
  cursor: pointer;
}