body
{
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@import url('https://fonts.google.com/specimen/Audiowide?categoryFilters=Feeling:%2FExpressive%2FFuturistic');
button
{
    background-color: rgba(252, 252, 252,);
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px 20px;
    font-weight: bold;
    font-family: Audiowide;
    font-size: larger;
    border-radius: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  
  padding-top: 350px; 
  height: 100vh;
  
  background-color: rgba(255, 255, 255,);
  margin: 0;
  color: black;
}
.botoes
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0;
  width: 100%;
  max-width: 700px;
}
body::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 1;
  z-index: -1; 
  background-color: black;
  filter: brightness(0.75);
}
fieldset {
  position: relative;
  z-index: 10;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;    
}
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 15px;
  font-size: 1px;
  transition: background 0.3s;
  
}
h1
{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
}

.botoes a {
  width: 100%;
  display: block;
}

.botoes button {
  width: 100%;
}
button:hover
{
  cursor: pointer;
}