body
{
  margin: 0;
  background-color: #5f5f55;
}

@import url('https://fonts.google.com/specimen/Audiowide?categoryFilters=Feeling:%2FExpressive%2FFuturistic');
button
{
    background-color: rgba(252, 252, 252,);
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px 20px;
    font-weight: bold;
    font-size: larger;
    border-radius: 12px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  padding-top: 200px; 
  height: 50vh;
  margin-top: 60px;
}
 .botoes
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 520px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}
fieldset {
  width: 500px;
  height: 400px;
  background-color: rgba(85, 85, 85, 0.705);
  border: 2px solid rgba(255, 255, 255, 0.10);
  border-radius: 20px;
  text-align: center; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 1px;
  transition: background 0.3s;
  
}
h1
{  
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.75); 
}

.botoes a {
  width: 100%;
  height: 40px;
  display: block;
  
}
.botoes button {
  width: 100%;
}
button:hover
{
  cursor: pointer;
}
a
{
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
a:hover
{
  transform: scale(1.02);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);

}