body{
	font-size: 28px;
	background-color: rgb(194, 210, 175);
}
@import url('https://fonts.google.com/specimen/Vend+Sans?categoryFilters=Feeling:%2FExpressive%2FCalm');
	legend 
{
	font-family: Vend-Sans;
	font-size: 50px;
	background-color: rgb(182, 148, 214, 0.6);
	border-radius: 15px;
	font-weight: bold;
}
p{
  font-size: 30px;
}
fieldset{
	background-color: white;
	border-radius: 40px;
	padding: 50px;
	width: 65%;
	margin: 0 auto;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h3
{
	margin: auto;
	font-size: 35px;
}
      
.central
{
	text-align: center;
}

.container
{
	text-align: center;
}
@import url('https://fonts.google.com/specimen/Vend+Sans?categoryFilters=Feeling:%2FExpressive%2FCalm');
.h
{
	font-family: Vend-Sans ;
	display: flex;
  	flex-direction: column;
  	align-items: center;
	background-color: rgba(255, 102, 0, 0.3);
	background-size: 10px;
	border-radius: 200px;
	
}
.but
{

	align-items: end;
}
input[type="submit"] 
{
  border-radius: 15px;
  padding: 10px 600px;
  background-color: rgb(194, 210, 175, 0.6);
  color: rgb(0, 0, 0);
  display: block;   
  margin-left: auto;  
  border: 0px;
  cursor: pointer;
  transition: background-color 0.5s ease,
  transform 0.2s ease;
  font-family: Vend-Sans;
  font-size: 20px;
}
input[type="submit"]:hover 
{
  background-color: rgb(113, 211, 113);
}

input[type="radio"]
{
	accent-color:rgb(182, 148, 214, 0.6);
}
label:hover
{

	color: #b694d691;
	font-weight: bold;
}
