body{
	font-size: 28px;
	font-family: Vend-Sans;
	background-color: #C2D2AF;
}
@import url('https://fonts.googleapis.com/css2?family=Vand+Sans:wght@400;700&display=swap');
	legend 
{
	font-family: Vend-Sans;
	font-size: 50px;
	background-color: rgb(182, 148, 214, 0.6);
	border-radius: 15px;
	font-weight: bold;
	margin-bottom: 25px
}
p{
  font-size: 25px;
  font-weight: bold;
}
fieldset{
	background-color: white;
	border-radius: 40px;
	padding: 50px;
	width: 65%;
	margin: 0 auto;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

}

fieldset:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}
h3
{
	margin: auto;
	font-size: 35px;
}
h1
{
	background-color: rgb(182, 148, 214, 0.6);
	
}
      
.central
{
	text-align: center;
}


.container
{
	text-align: center;
	display: block;
	margin: 0;

}
@import url('https://fonts.google.com/specimen/Vend+Sans?categoryFilters=Feeling:%2FExpressive%2FCalm');
.h
{
	font-family: Vend-Sans ;
	display: flex;
  	flex-direction: column;
  	align-items: center;
	background-size: 10px;
	border-radius: 200px;
	
}
.but
{
display: flex;
  flex-direction: column;         
  gap: 15px;                      
  align-items: end; 
  color: black;                             
  justify-content: center;                
  background-color: rgba(255, 255, 255,);
  margin: 0;
  color: black;
	
}
input[type="submit"]
{
background-color: rgba(37, 185, 24, 0.479);
  color: rgb(0, 0, 0);              
  border: none;              
  padding: 20px 450px;        
  border-radius: 20px;        
  cursor:pointer ;           
  font-family: Vend-Sans;
  font-size: 22px;
  transition: background-color 0.5s ease, transform 0.6s ease;
  display: block;
  margin: 20px auto;
}
input[type="submit"]:hover
{
	 background-color:  rgb(194, 210, 175, 0.6); 
	 transform: scale(1.05);
}
input[type="radio"]
{
accent-color: rgba(255, 0, 179, 0.6);
font-weight: normal;
}
label
{
	cursor: pointer;
}
label:hover
{
	font-weight: bold;
	font-style: italic;
}
label:has(input[type="radio"]:checked) 
{
  font-weight: bold;
}
.centro
{
  width:550px;
  height: auto;
}
p
{
	text-align: left;
}
.q2
{
	text-align: center;
}