body{
	font-size: 28px;
	background-color: #C2D2AF;
}
@import url('https://fonts.google.com/specimen/Vend+Sans?categoryFilters=Feeling:%2FExpressive%2FCalm');
	legend 
{
	font-family: Vend-Sans;
	font-size: 50px;
	background-color: rgb(182, 148, 214, 0.6);
	border-radius: 15px;
	font-weight: bold;
}
p{
  font-size: 30px;
}
fieldset{
	background-color: white;
	border-radius: 40px;
	padding: 50px;
	width: 65%;
	margin: 0 auto;
	box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h3
{
	margin: auto;
	font-size: 35px;
}
      
.central
{
	text-align: center;
}

.container
{
	text-align: center;
}
@import url('https://fonts.google.com/specimen/Vend+Sans?categoryFilters=Feeling:%2FExpressive%2FCalm');
.h
{
	font-family: Vend-Sans ;
	display: flex;
  	flex-direction: column;
  	align-items: center;
	background-color: rgba(255, 102, 0, 0.3);
	background-size: 10px;
	border-radius: 200px;
	
}
.but
{
display: flex;
  flex-direction: column;         
  gap: 15px;                      
  align-items: end; 
  color: black;                             
  justify-content: center;                
  background-color: rgba(255, 255, 255,);
  margin: 0;
  color: black;
	
}
input[type="submit"]
{
 background-color:  rgb(194, 210, 175, 0.6); 
  color: rgb(0, 0, 0);              
  border: none;              
  padding: 20px 450px;        
  border-radius: 20px;        
  cursor:pointer ;           
  font-family: Vend-Sans;
  font-size: 22px;
  transition: background-color 0.4s ease, transform 0.6s ease;
  display: block;
  margin: 20px auto;
}
input[type="submit"]:hover
{
	background-color: rgb(37, 185, 24);
}
input[type="radio"]
{
accent-color: rgb(182, 148, 214, 0.6);
}
label
{
	cursor: pointer;
}
label:hover
{
	font-weight: bold;
}